<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   	<extension point="org.eclipse.core.runtime.products" id="cishell">
	   <product
	      name="Cyberinfrastructure Shell"
          application="org.cishell.reference.gui.workspace.CIShellApplication">
	       <property
	             name="appName"
	             value="%appName"/>
	       <property
	             name="aboutImage"
	             value="icons/about.gif"/>
	       <property
	             name="aboutText"
	             value="%blurb"/>
        <property
              name="startupProgressRect"
              value="0,163,500,10"/>
        <property
              name="windowImage"
              value="icons/alt32.gif"/>
	   </product>
   	</extension>
   	
   	<extension
	       point="org.eclipse.ui.views">
	     <view
         allowMultiple="false"
         class="org.cishell.reference.gui.brand.cishell.DataManagerView"
         icon="icons/datamanager_icon.gif"
         id="org.cishell.reference.gui.datamanager.DataManagerView"
         name="Data Manager"/>
     </extension> 
   	
	   
	<extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.cishell.reference.gui.workspace.Perspective">
           <view id="org.cishell.reference.gui.log.LogView"
                relative="org.eclipse.ui.editors"
                relationship="top"
                moveable = "true"
                closeable = "false"
                ratio="0.60"/>
      </perspectiveExtension>

      <perspectiveExtension targetID="org.cishell.reference.gui.workspace.Perspective">
           <view
                 closeable="false"
                 id="org.cishell.reference.gui.scheduler.SchedulerView"
                 moveable="true"
                 ratio="0.60"
                 relationship="bottom"
                 relative="org.cishell.reference.gui.log.LogView"
                 visible="true"/>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="org.cishell.reference.gui.workspace.Perspective">
         <view
               closeable="false"
               id="org.cishell.reference.gui.workflow.WorkflowView"
               moveable="true"
               ratio="0.75"
               relationship="top"
               relative="org.cishell.reference.gui.log.LogView"
               visible="true">
         </view>
      </perspectiveExtension>
	
      <perspectiveExtension targetID="org.cishell.reference.gui.workspace.Perspective">
           <view id="org.cishell.reference.gui.datamanager.DataManagerView"
                relative="org.cishell.reference.gui.log.LogView"
                relationship="right"
                ratio="0.75"
                moveable = "true"
                closeable = "false"                   
                visible="true"/>
      </perspectiveExtension>

	</extension>
	
	<extension point="org.eclipse.ui.startup">
    	<startup class="org.cishell.reference.gui.brand.cishell.Activator"/>
 	</extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="org.cishell.reference.gui.management"
          label="Manager Action Set"
          visible="true">
       <action
             class="org.cishell.reference.gui.workspace.ManageConfigurationAction"
             icon="icons/manage.gif"
             id="org.cishell.reference.gui.configuration.manager.action"
             label="Manage Configuration..."
             menubarPath="help/end"
             style="push"/>
       <action
             class="org.cishell.reference.gui.workspace.UpdateAction"
             icon="icons/findandinstall.gif"
             id="org.cishell.reference.gui.update.manager.action"
             label="Update..."
             menubarPath="help/end"
             style="push"/>
    </actionSet>
 </extension>
</plugin>
