<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   	<extension point="org.eclipse.core.runtime.products" id="cishell">
	   <product
	      name="Cyberinfrastructure Shell"
          application="org.cishell.reference.gui.workspace.CIShellApplication">
	       <property
	             name="appName"
	             value="%appName"/>
	       <property
	             name="aboutImage"
	             value="icons/about.gif"/>
	       <property
	             name="aboutText"
	             value="%blurb"/>
	   </product>
   	</extension>
	   
	<extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.cishell.reference.gui.workspace.Perspective">
           <view id="org.cishell.reference.gui.log.LogView"
                relative="org.eclipse.ui.editors"
                relationship="top"
                moveable = "true"
                closeable = "false"
                ratio="0.60"/>
      </perspectiveExtension>
	
      <perspectiveExtension targetID="org.cishell.reference.gui.workspace.Perspective">
           <view id="org.cishell.reference.gui.datamanager.DataManagerView"
                relative="org.cishell.reference.gui.log.LogView"
                relationship="right"
                ratio="0.75"
                moveable = "true"
                closeable = "false"                   
                visible="true"/>
      </perspectiveExtension>
	</extension>
	
	<extension point="org.eclipse.ui.startup">
    	<startup/>
 	</extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="org.cishell.reference.gui.management"
          label="Manager Action Set"
          visible="true">
       <action
             class="org.cishell.reference.gui.brand.cishell.ManageConfigurationAction"
             icon="icons/manage.gif"
             id="org.cishell.reference.gui.configuration.manager.action"
             label="Manage Configuration..."
             menubarPath="help/end"
             style="push"/>
       <action
             class="org.cishell.reference.gui.brand.cishell.UpdateAction"
             icon="icons/findandinstall.gif"
             id="org.cishell.reference.gui.update.manager.action"
             label="Update..."
             menubarPath="help/end"
             style="push"/>
    </actionSet>
 </extension>
</plugin>
