<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            id="org.eclipse.releng.tools.ResourceContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
         <action
               label="Release..."
               class="org.eclipse.releng.tools.TagAndReleaseAction"
               menubarPath="team.main/group2"
               id="org.eclipse.releng.tools.tagAndRelease">
			</action>
			<action
               label="Released"
               tooltip="Compare the selected project(s) with the released versions"
               class="org.eclipse.releng.tools.CompareLocalToMap"
               menubarPath="compareWithMenu/compareWithGroup"
               id="org.eclipse.releng.tools.compareWithReleased">
         </action>
         <action
               label="Released"
               class="org.eclipse.releng.tools.ReplaceLocalFromMap"
               tooltip="Replace the selcted project(s) with the released versions"
               menubarPath="replaceWithMenu/replaceWithGroup"
               id="org.eclipse.releng.tools.replaceWithReleased">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.ui.IWorkingSet"
            id="org.eclipse.releng.tools.WorkingSetContributions">
         <action
               label="Release..."
               class="org.eclipse.releng.tools.TagAndReleaseAction"
               menubarPath="team.main/group2"
               id="org.eclipse.releng.tools.tagAndRelease">
			</action>
			<action
               label="Released"
               tooltip="Compare the selected project(s) with the released versions"
               class="org.eclipse.releng.tools.CompareLocalToMap"
               menubarPath="compareWithMenu/compareWithGroup"
               id="org.eclipse.releng.tools.compareWithReleased">
         </action>
         <action
               label="Released"
               class="org.eclipse.releng.tools.ReplaceLocalFromMap"
               tooltip="Replace the selcted project(s) with the released versions"
               menubarPath="replaceWithMenu/replaceWithGroup"
               id="org.eclipse.releng.tools.replaceWithReleased">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.map"
            id="org.eclipse.releng.cvs.mapActions">
         <action
               label="Load Map Projects"
               class="org.eclipse.releng.tools.LoadMap"
               menubarPath="team.main/group1"
               id="org.eclipse.releng.cvs.LoadMap">
         </action>
         <action
               label="Tag Map Projects"
               class="org.eclipse.releng.tools.TagMap"
               menubarPath="team.main/group1"
               id="org.eclipse.releng.cvs.TagMap">
         </action>
      </objectContribution>
      <objectContribution
      		adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipse.releng.internal.tools.CopyrightContribution">
         <action
               label="Fix Copyrights..."
               class="org.eclipse.releng.tools.FixCopyrightAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.eclipse.releng.tools.fixCopyrights">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="org.eclipse.releng.internal.tools.AdvancedCopyrightContribution">
         <action
               label="Advanced Fix Copyrights"
               class="org.eclipse.releng.tools.AdvancedFixCopyrightAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.eclipse.releng.tools.advancedFixCopyrights">
         </action>
      </objectContribution>
   </extension>
   
   	<!-- ********** Action Sets ************** -->
	<extension point="org.eclipse.ui.actionSets">
		<actionSet 
			label="%RelEng" 
			visible="false" 
			id="org.eclipse.releng.tools.RelEngActionSet"
			description="%RelEngActionSet.description">
	  	  <action
	  	  	toolbarPath="Normal/RelEng Tools"
	  		 label="%RelEngActionSet.Release"
	  		 tooltip="%RelEngActionSet.tooltip"
	  		 icon="icons/full/clcl16/release_action.gif"
	  		 class="org.eclipse.releng.tools.TagAndReleaseAction"
	  		 id="org.eclipse.eclipse.releng.tools.ReleaseAction"> 
	  	    </action>
	  </actionSet>
	</extension>
   
	<!-- ********** Preference Pages ************** -->
	<extension point="org.eclipse.ui.preferencePages">
      <page
            name="Copyright Tool"
            class="org.eclipse.releng.tools.preferences.CopyrightPreferencePage"
            id="org.eclipse.releng.tools.preferences.CopyrightPreferencePage">
      </page>
	</extension>

	<!-- ********** Preference Initializing ************** -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.releng.tools.preferences.RelEngPreferenceInitializer"/>
	</extension>

</plugin>
