#Tue Dec 11 11:50:21 EST 2007
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
autotestsuite.trace=true
pluginbuilder.features=org.cishell.feature,org.cishell.environment.equinox.feature,org.cishell.reference.feature,org.cishell.reference.gui.feature
autotestsuite.class.inclusions=.*
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=https\://cishell.svn.sourceforge.net/svnroot/cishell
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.password=blah@blah.com
pluginbuilder.svn.user=anonymous
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=true
