<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="edu.iu.iv.persistence.actionSet"
            visible="true"
            id="edu.iu.iv.persistence.actionSet">
         <action
               label="Save..."
               icon="images/save.png"
               class="edu.iu.iv.persistence.save.SavePlugin"
               style="push"
               menubarPath="file/additions"
               id="edu.iu.iv.persistence.SaveAction"/>
         <action
               label="Load..."
               class="edu.iu.iv.persistence.load.LoadPlugin"
               style="push"
               menubarPath="file/additions"
               id="edu.iu.iv.persistence.LoadAction"/>               
         <action
               label="View..."
               class="edu.iu.iv.persistence.view.ViewPlugin"
               style="push"
               menubarPath="file/additions"
               id="edu.iu.iv.persistence.ViewAction"/>               
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup class="edu.iu.iv.persistence.PersistencePlugin"/>
   </extension>   

</plugin>
