<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.iv.templates"
   name="IVC Template Plug-in"
   version="1.0.5"

   class="edu.iu.iv.templates.TemplatesPlugin">

   <runtime>
      <library name="template.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="edu.iu.iv.common"/>
      <import plugin="edu.iu.iv.swtguibuilder"/>
      <import plugin="org.eclipse.pde.ui"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.pde.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>
   
   <extension point="org.eclipse.pde.ui.pluginContent">
   	  <wizard 
   	  	name="%pluginContent.basic.name" 
   	  	icon="icons/ivc.gif" 
   	  	class="edu.iu.iv.templates.basic.BasicNewWizard" 
   	  	id="edu.iu.iv.pluginContent.basic">
	    <description>
            %pluginContent.basic.description
        </description>
      </wizard>
      <wizard 
   	  	name="%pluginContent.progressive.name" 
   	  	icon="icons/ivc.gif" 
   	  	class="edu.iu.iv.templates.progressive.ProgressiveNewWizard" 
   	  	id="edu.iu.iv.pluginContent.progressive">
	    <description>
            %pluginContent.progressive.description
        </description>
      </wizard>
      <wizard 
   	  	name="%pluginContent.persister.name" 
   	  	icon="icons/ivc.gif" 
   	  	class="edu.iu.iv.templates.persister.PersisterNewWizard" 
   	  	id="edu.iu.iv.pluginContent.persister">
	    <description>
            %pluginContent.persister.description
        </description>
      </wizard>      
      <wizard 
   	  	name="%pluginContent.sampledata.name" 
   	  	icon="icons/ivc.gif" 
   	  	class="edu.iu.iv.templates.sampledata.SampledataNewWizard" 
   	  	id="edu.iu.iv.pluginContent.sampledata">
	    <description>
            %pluginContent.sampledata.description
        </description>
      </wizard>
      <wizard 
   	  	name="%pluginContent.executable.name" 
   	  	icon="icons/ivc.gif" 
   	  	class="edu.iu.iv.templates.executable.ExecutableNewWizard" 
   	  	id="edu.iu.iv.pluginContent.executable">
	    <description>
            %pluginContent.executable.description
        </description>
      </wizard>
      
   </extension>
   
   <extension point="org.eclipse.pde.ui.newExtension">
      <wizard 
      	name="%newExtension.templates.basic.name" 
      	template="edu.iu.iv.templates.basic" 
      	icon="icons/ivc.gif" 
      	category="templates" 
      	id="edu.iu.iv.newExtension.basic">
	  	<description>
			%newExtension.templates.basic.desc
         </description>
	  </wizard>
      <wizard 
      	name="%newExtension.templates.progressive.name" 
      	template="edu.iu.iv.templates.progressive" 
      	icon="icons/ivc.gif" 
      	category="templates" 
      	id="edu.iu.iv.newExtension.progressive">
	  	<description>
			%newExtension.templates.progressive.desc
         </description>
	  </wizard>
      <wizard 
      	name="%newExtension.templates.persister.name" 
      	template="edu.iu.iv.templates.persister" 
      	icon="icons/ivc.gif" 
      	category="templates" 
      	id="edu.iu.iv.newExtension.persister">
	  	<description>
			%newExtension.templates.persister.desc
         </description>
	  </wizard>	
      <wizard 
      	name="%newExtension.templates.sampledata.name" 
      	template="edu.iu.iv.templates.sampledata" 
      	icon="icons/ivc.gif" 
      	category="templates" 
      	id="edu.iu.iv.newExtension.sampledata">
	  	<description>
			%newExtension.templates.sampledata.desc
         </description>
	  </wizard>	 
      <wizard 
      	name="%newExtension.templates.executable.name" 
      	template="edu.iu.iv.templates.executable" 
      	icon="icons/ivc.gif" 
      	category="templates" 
      	id="edu.iu.iv.newExtension.executable">
	  	<description>
			%newExtension.templates.executable.desc
         </description>
	  </wizard>	  	   	  	  
   </extension>
   
   <extension point="org.eclipse.pde.ui.templates">
	  <template
         contributingId="org.eclipse.ui.actionSets"
    	 icon="icons/ivc.gif" 
         class="edu.iu.iv.templates.basic.BasicTemplate"
         name="%template.basic.name"
         id="edu.iu.iv.templates.basic">
      </template>      
      <template
         contributingId="org.eclipse.ui.actionSets"
    	 icon="icons/ivc.gif" 
         class="edu.iu.iv.templates.progressive.ProgressiveTemplate"
         name="%template.progressive.name"
         id="edu.iu.iv.templates.progressive">
      </template>      
      <template
         contributingId="org.eclipse.ui.startup"
    	 icon="icons/ivc.gif" 
         class="edu.iu.iv.templates.persister.PersisterTemplate"
         name="%template.persister.name"
         id="edu.iu.iv.templates.persister">
      </template>
      <template
         contributingId="org.eclipse.ui.startup"
    	 icon="icons/ivc.gif" 
         class="edu.iu.iv.templates.sampledata.SampledataTemplate"
         name="%template.sampledata.name"
         id="edu.iu.iv.templates.sampledata">
      </template>    
	  <template
         contributingId="org.eclipse.ui.actionSets"
    	 icon="icons/ivc.gif" 
         class="edu.iu.iv.templates.executable.ExecutableTemplate"
         name="%template.executable.name"
         id="edu.iu.iv.templates.executable">
      </template>          
   </extension>
</plugin>
