<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.startup">
      <startup class="edu.iu.iv.schedulerview.SchedulerViewPlugin"/>
   </extension>
   
   <extension
	  point="org.eclipse.ui.views">
	<view
         icon="icons/scheduler_view.gif"
         class="edu.iu.iv.schedulerview.SchedulerView"
         name="Scheduler"
         id="edu.iu.iv.schedulerview.SchedulerView"/>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension targetID="edu.iu.iv.gui.IVCPerspective">
               <view id="edu.iu.iv.schedulerview.SchedulerView"
                    relative="org.eclipse.ui.editorss"
                    relationship="bottom"
                    ratio="0.60"
                    moveable = "true"
                    closeable = "true"
                    visible="false"/>
          </perspectiveExtension>
	</extension>

</plugin>
