<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="CIShell for development" sequenceNumber="85">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.cishell.reference.gui.brand.feature.feature.group" version="1.0.0"/>
<unit id="org.cishell.feature.feature.group" version="1.0.0"/>
<unit id="org.cishell.reference.libs.feature.feature.group" version="1.0.0"/>
<unit id="org.cishell.reference.feature.feature.group" version="1.0.0"/>
<unit id="org.cishell.reference.database.feature.feature.group" version="1.0.0"/>
<unit id="org.cishell.reference.gui.feature.feature.group" version="1.0.0"/>
<unit id="org.cishell.source.feature.feature.group" version="1.0.0"/>
<repository location="http://cishell.org/p2/dev/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
