<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
	  point="org.eclipse.ui.views">
	<view
       allowMultiple="false"
       class="org.cishell.reference.gui.workflow.views.WorkflowView"
       icon="icons/log_icon.gif"
       id="org.cishell.reference.gui.workflow.views.WorkflowView"
       name="Workflow"/>
   </extension> 
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
    <extension
         point="org.eclipse.ui.startup">
      <startup class="org.cishell.reference.gui.workflow.Activator"/>
   </extension>
</plugin>
